{% extends "base.html" %}
{% block section %}
<div class="row justify-content-center pt-5">
    <div class="col-md-4">
        <a href="{% url 'crear_parametro' %}" class="btn btn-success" >Crear nuevo parametro</a>
    </div>
</div>
<div class="row pt-5 justify-content-center">
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id parametro</th>
                    <th>Nombre parametro</th>
                    <th>Tipo parametro</th>
                </tr>
            </thead>
            <tbody>
                {% for parametro in parametros %}
                    <tr>
                        <td>{{ parametro.id }}</td>
                        <td>{{ parametro.nombre }}</td>
                        <td>{{ parametro.tipo_parametro }}</td>
                        <td>
                            <a href="{% url 'eliminar_parametro' parametro.id %}" class="btn btn-danger">Eliminar</a>
                            <a href="{% url 'editar_parametro' parametro.id %}" class="btn btn-primary">Modificar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock section %}