{%  extends 'base.html' %}
{% block section %}
<div class="row justify-content-center pt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center"> <strong> MODULO LIQUIDACIONES </strong></h5>
                <p class="text-center">En esta sección podrá descargar el TXT de resultado para cargarlo en "Mi Planilla"
                    <br>
                    <strong>Recuerde que la información va a estar filtrada por la empresa actual</strong>
                </p>
            </dv>
        </div>
    </div>
</div>

<div class="row p-5">
    <div class="card col-md-3">
            <h5 class="card-header"> Última liquidación </h5>
        </div>
    </div>
</div>
{% endblock %}