{%  extends 'base.html' %}
{% load widget_tweaks %}
{% block section %}
<div class="row justify-content-center pt-3">
    <div class="col-md-12">
        <div class="card">
            <dv class="card-header">
                <h5 class="text-center"> <strong> MODULO LOGS </strong></h5>
                <p class="text-center">En este modulo podrá realizar seguimiento a los movimientos realizados por cada usuario.
                    <br>
                    <strong>Recuerde que el reporte va a estar prefiltrado por la empresa actual</strong>
                </p>
            </dv>
        </div>
    </div>
</div>



<div class="row pt-3">
<form method="get">
    <div class="card text-bg-light">
        <div class="card-header">Panel de filtros <i class="bi bi-funnel-fill"></i></div>
        
        <div class="card-body">
        <div class="row">
            <div class="form-group col-sm-4 col-md-3">
                {{myFilter.form.user.label_tag}}
                {% render_field myFilter.form.user class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{myFilter.form.module.label_tag}}
                {% render_field myFilter.form.module class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{myFilter.form.log_date.label_tag}}
                {% render_field myFilter.form.log_date class="form-control" type="date" %}
            </div>
            <div class="row pt-2">
                <div class="col-md-3">
                    <button class="btn btn-primary btn-sm" type="submit"> <i class="bi bi-search"></i> Buscar </button>
                </div>
        </div>
    </div>
    </div>
    </div>
</form>
</div>



<div class="row pt-5" >
    <div class="col-md-4 justify-content-end">
        <button class="btn btn-success btn-sm" onclick=""> Exportar xlsx </button>
    </div>
</div>

<div class="row pt-1">
<div class="table-responsive">
<table class="table table-striped table-bordered" id="table_logs">
    <thead class="table-dark">
        <tr>
            <th>id</th>
            <th>Descripción</th>
            <th>Módulo</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        {% if logs %}
        {% for log in logs %}
        <tr>
            <td>{{log.id}}</td>
            <td>{{log.descripcion}}</td>
            <td>{{log.module}}</td>
            <td>{{log.fecha.date}}</td>
            <td>{{log.fecha.time}}</td>
            <td>{{log.user}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <div class="row pt-2">
        <h3>No hay registros de Logs</h3>
    </div>
        {% endif %}
    </tbody>
</table>
</div>
</div>
{% endblock %}