{%  extends 'base.html' %}
{% block section %}
<div class="row justify-content-center pt-2">
<h3>Log de eventos</h3>

<div class="row pt-2">
    <div class = "col">
        <div class="card card-body">
            <form method="get">
                {{ myFilter.form }}
                <div class="row pt-3"></div>
                <button class="btn btn-primary" type="submit"> Buscar </button>
            </form>
        </div>
    </div>
    </div>
    

<div class="row pt-5">
<table class="table table-striped" id="table_logs">
    <thead>
        <tr>
            <th>id</th>
            <th>Descripción</th>
            <th>Módulo</th>
            <th>Fecha / Hora</th>
            <th>User Id</th>
        </tr>
    </thead>
    <tbody>
        {% if logs %}
        {% for log in logs %}
        <tr>
            <td>{{log.id}}</td>
            <td>{{log.descripcion}}</td>
            <td>{{log.module}}</td>
            <td>{{log.fecha}}</td>
            <td>{{log.user_id}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registros de Logs</h1>
        {% endif %}
    </tbody>
</table>
</div>
{% endblock %}