{%  extends 'base.html' %}
{% block section %}
<div class="row justify-content-center pt-5">
    <h1>GENERANDO INFORME DE {{opcion}}</h1>

    <div class="row pt-2">
        <div class = "col">
            <div class="card card-body">
                <form method="get">
                    {{ myFilter.form }}
                    <div class="row pt-3"></div>
                    <button class="btn btn-primary" type="submit"> Buscar </button>
                </form>
            </div>
        </div>
       </div>

    <div class="row pt-5">
        <table class="table table-striped" id="table_logs">
            <thead>
                <tr>
                    <th>Periodo</th>
                    <th>No_Personal</th>
                    <th>Apellido_Nombre</th>
                    <th>codigo_concepto</th>
                    <th>desc_concepto</th>
                    <th>cantidad</th>
                    <th>importe</th>
                </tr>
            </thead>
            <tbody>
                {% if nominas %}
                {% for nomina in nominas %}
                <tr>
                    <td>{{nomina.id_periodo}}</td>
                    <td>{{nomina.no_personal}}</td>
                    <td>{{nomina.apellido_nombre}}</td>
                    <td>{{nomina.cod_concepto}}</td>
                    <td>{{nomina.desc_concepto}}</td>
                    <td>{{nomina.cantidad}}</td>
                    <td>{{nomina.importe}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <h1>No hay registros de Nómina</h1>
                {% endif %}
            </tbody>
        </table>
        </div>

</div>
{% endblock %}