<div class="row pt-2 col-md-12">
    <div class="table-responsive">
<table class="table table-striped" id="table_liquidaciones">
    <thead class="table-dark">
    <tr>
        <th>id_empresa</th>
        <th>id_periodo</th>
        <th>estado_liquidacion</th>
        <th>radicado_liquidacion</th>
        <th>fecha_radicado_liquidacion</th>
        <th>tipo_registro</th>
        <th>secuencia</th>
        <th>tipo_doc_cotizante</th>
        <th>num_doc_cotizante</th>
        <th>tipo_cotizante</th>
        <th>subtipo_cotizante</th>
        <th>extranjero</th>
        <th>colombian_en_exterior</th>
        <th>cod_departamento</th>
        <th>cod_municipio</th>
        <th>primer_apellido</th>
        <th>segundo_apellido</th>
        <th>primer_nombre</th>
        <th>segundo_nombre</th>
        <th>ingreso</th>
        <th>retiro</th>
        <th>traslado_desde_eps</th>
        <th>traslado_hacia_eps</th>
        <th>traslado_desde_fondo_pension</th>
        <th>traslado_hacia_fondo_pension</th>
        <th>variacion_permanente_salario</th>
        <th>correcion</th>
        <th>variacion_transitoria_salario</th>
        <th>suspencion_temporal</th>
        <th>incapacidad_temporal</th>
        <th>licencia_maternidad_paternidad</th>
        <th>vacaciones_licencia_remunerada</th>
        <th>aporte_voluntario</th>
        <th>variacion_centros_trabajo</th>
        <th>dias_incapacidad</th>
        <th>cod_fondo_pension_pertence</th>
        <th>cod_fondo_pension_tralasda</th>
        <th>cod_eps_pertenece</th>
        <th>cod_eps_tralasda</th>
        <th>cod_ccf_pertenece</th>
        <th>dias_fondo_pension</th>
        <th>dias_eps</th>
        <th>dias_arl</th>
        <th>dias_ccf</th>
        <th>salario_basico</th>
        <th>tipo_salario</th>
        <th>ibc_fondo_pension</th>
        <th>ibc_eps</th>
        <th>ibc_arl</th>
        <th>ibc_ccf</th>
        <th>tarifa_fondo_pension</th>
        <th>cotizacion_obligatoria_pension</th>
        <th>aporte_voluntario_afiliado_pension</th>
        <th>aporte_voluntario_aportante_pension</th>
        <th>tota_cotizacion_pension</th>
        <th>aporte_fondo_solidaridad</th>
        <th>aporte_fondo_subsistencia</th>
        <th>valor_no_retenido</th>
        <th>tarifa_eps</th>
        <th>cotizacion_obligatoria_eps</th>
        <th>ups_adres</th>
        <th>autorizacion_incapacidad</th>
        <th>valor_incapacidad</th>
        <th>autorizacion_licencia_maternidad</th>
        <th>valor_licencia_maternidad</th>
        <th>tarifa_arl</th>
        <th>centro_trabajo</th>
        <th>cotizacion_obligatoria_arl</th>
        <th>tarifa_ccf</th>
        <th>valor_aporte_ccf</th>
        <th>tarifa_sena</th>
        <th>valor_aporte_sena</th>
        <th>tarifa_icbf</th>
        <th>valor_aporte_icbf</th>
        <th>tarifa_esap</th>
        <th>valor_aporte_esap</th>
        <th>tarifa_men</th>
        <th>valor_aporte_men</th>
        <th>tipo_doc_cotizante_principal</th>
        <th>numero_doc_cotizante_principal</th>
        <th>exonerado_pago_eps_sena_icbf</th>
        <th>cod_arl_pertenece</th>
        <th>clase_riesgo_afiliado</th>
        <th>indicador_tarifa_especial_pension</th>
        <th>fecha_ingreso</th>
        <th>fecha_retiro</th>
        <th>fecha_inicio_vsp</th>
        <th>fecha_inicio_sln</th>
        <th>fecha_fin_sln</th>
        <th>fecha_inicio_ige</th>
        <th>fecha_fin_ige</th>
        <th>fecha_inicio_lma</th>
        <th>fecha_fin_lma</th>
        <th>fecha_inicio_vac</th>
        <th>fecha_fin_vac</th>
        <th>fecha_inicio_vct</th>
        <th>fecha_inicio_vct</th>
        <th>fecha_inicio_irl</th>
        <th>fecha_fin_irl</th>
        <th>ibc_otros_parafiscales</th>
        <th>numero_horas_laboradas</th>
        <th>fecha_radicacion_exterior</th>

    </tr>
    </thead>
    <tbody>

    {% for registro in resultados %}
    <tr>
        <td>{{registro.id_empresa}}</td>
        <td>{{registro.id_periodo}}</td>
        <td>{{registro.estado_liquidacion}}</td>
        <td>{{registro.radicado_liquidacion}}</td>
        <td>{{registro.fecha_radicado_liquidacion}}</td>
        <td>{{registro.tipo_registro}}</td>
        <td>{{registro.secuencia}}</td>
        <td>{{registro.tipo_doc_cotizante}}</td>
        <td>{{registro.num_doc_cotizante}}</td>
        <td>{{registro.tipo_cotizante}}</td>
        <td>{{registro.subtipo_cotizante}}</td>
        <td>{{registro.extranjero}}</td>
        <td>{{registro.colombian_en_exterior}}</td>
        <td>{{registro.cod_departamento}}</td>
        <td>{{registro.cod_municipio}}</td>
        <td>{{registro.primer_apellido}}</td>
        <td>{{registro.segundo_apellido}}</td>
        <td>{{registro.primer_nombre}}</td>
        <td>{{registro.segundo_nombre}}</td>
        <td>{{registro.ingreso}}</td>
        <td>{{registro.retiro}}</td>
        <td>{{registro.traslado_desde_eps}}</td>
        <td>{{registro.traslado_hacia_eps}}</td>
        <td>{{registro.traslado_desde_fondo_pension}}</td>
        <td>{{registro.traslado_hacia_fondo_pension}}</td>
        <td>{{registro.variacion_permanente_salario}}</td>
        <td>{{registro.correcion}}</td>
        <td>{{registro.variacion_transitoria_salario}}</td>
        <td>{{registro.suspencion_temporal}}</td>
        <td>{{registro.incapacidad_temporal}}</td>
        <td>{{registro.licencia_maternidad_paternidad}}</td>
        <td>{{registro.vacaciones_licencia_remunerada}}</td>
        <td>{{registro.aporte_voluntario}}</td>
        <td>{{registro.variacion_centros_trabajo}}</td>
        <td>{{registro.dias_incapacidad}}</td>
        <td>{{registro.cod_fondo_pension_pertence}}</td>
        <td>{{registro.cod_fondo_pension_tralasda}}</td>
        <td>{{registro.cod_eps_pertenece}}</td>
        <td>{{registro.cod_eps_tralasda}}</td>
        <td>{{registro.cod_ccf_pertenece}}</td>
        <td>{{registro.dias_fondo_pension}}</td>
        <td>{{registro.dias_eps}}</td>
        <td>{{registro.dias_arl}}</td>
        <td>{{registro.dias_ccf}}</td>
        <td>{{registro.salario_basico}}</td>
        <td>{{registro.tipo_salario}}</td>
        <td>{{registro.ibc_fondo_pension}}</td>
        <td>{{registro.ibc_eps}}</td>
        <td>{{registro.ibc_arl}}</td>
        <td>{{registro.ibc_ccf}}</td>
        <td>{{registro.tarifa_fondo_pension}}</td>
        <td>{{registro.cotizacion_obligatoria_pension}}</td>
        <td>{{registro.aporte_voluntario_afiliado_pension}}</td>
        <td>{{registro.aporte_voluntario_aportante_pension}}</td>
        <td>{{registro.tota_cotizacion_pension}}</td>
        <td>{{registro.aporte_fondo_solidaridad}}</td>
        <td>{{registro.aporte_fondo_subsistencia}}</td>
        <td>{{registro.valor_no_retenido}}</td>
        <td>{{registro.tarifa_eps}}</td>
        <td>{{registro.cotizacion_obligatoria_eps}}</td>
        <td>{{registro.ups_adres}}</td>
        <td>{{registro.autorizacion_incapacidad}}</td>
        <td>{{registro.valor_incapacidad}}</td>
        <td>{{registro.autorizacion_licencia_maternidad}}</td>
        <td>{{registro.valor_licencia_maternidad}}</td>
        <td>{{registro.tarifa_arl}}</td>
        <td>{{registro.centro_trabajo}}</td>
        <td>{{registro.cotizacion_obligatoria_arl}}</td>
        <td>{{registro.tarifa_ccf}}</td>
        <td>{{registro.valor_aporte_ccf}}</td>
        <td>{{registro.tarifa_sena}}</td>
        <td>{{registro.valor_aporte_sena}}</td>
        <td>{{registro.tarifa_icbf}}</td>
        <td>{{registro.valor_aporte_icbf}}</td>
        <td>{{registro.tarifa_esap}}</td>
        <td>{{registro.valor_aporte_esap}}</td>
        <td>{{registro.tarifa_men}}</td>
        <td>{{registro.valor_aporte_men}}</td>
        <td>{{registro.tipo_doc_cotizante_principal}}</td>
        <td>{{registro.numero_doc_cotizante_principal}}</td>
        <td>{{registro.exonerado_pago_eps_sena_icbf}}</td>
        <td>{{registro.cod_arl_pertenece}}</td>
        <td>{{registro.clase_riesgo_afiliado}}</td>
        <td>{{registro.indicador_tarifa_especial_pension}}</td>
        <td>{{registro.fecha_ingreso}}</td>
        <td>{{registro.fecha_retiro}}</td>
        <td>{{registro.fecha_inicio_vsp}}</td>
        <td>{{registro.fecha_inicio_sln}}</td>
        <td>{{registro.fecha_fin_sln}}</td>
        <td>{{registro.fecha_inicio_ige}}</td>
        <td>{{registro.fecha_fin_ige}}</td>
        <td>{{registro.fecha_inicio_lma}}</td>
        <td>{{registro.fecha_fin_lma}}</td>
        <td>{{registro.fecha_inicio_vac}}</td>
        <td>{{registro.fecha_fin_vac}}</td>
        <td>{{registro.fecha_inicio_vct}}</td>
        <td>{{registro.fecha_inicio_vct}}</td>
        <td>{{registro.fecha_inicio_irl}}</td>
        <td>{{registro.fecha_fin_irl}}</td>
        <td>{{registro.ibc_otros_parafiscales}}</td>
        <td>{{registro.numero_horas_laboradas}}</td>
        <td>{{registro.fecha_radicacion_exterior}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

    </div>
</div>