{%  extends 'base.html' %}
{% block section %}
<div class="row pt-2 pb-2 border bg-light mt-4 border-info" style="border-radius: 25px">
    <div class="col-md-9 m-auto ">
        <h3 class="text-center">Parámetros</h3>
        <p>Desde este modulo podras gestionar todo lo relacionado con los parametros que son utilizados para generar las
            liquidaciones</p>
    </div>
</div>
<div class="row pt-5">
    <div class="col-md-12 justify-content-center">
        <div class="card-group justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Concepto: EPS</h5>
                    <p class="card-text">Entra en esta sección si necesitas gestionar el porcentaje de descuento por concepto de EPS en función del salario</p>
                </div>
                <div class="card-footer justify-content-end">
                    <a href="parametros/eps" class="btn btn-info">Entrar al módulo <i class="fa-solid fa-circle-arrow-right"></i></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Concepto: AFP</h5>
                    <p class="card-text">Entra en esta sección si necesitas gestionar el porcentaje de descuento por concepto de AFP en función del salario</p>
                </div>
                <div class="card-footer">
                    <a href="parametros/afp" class="btn btn-info">Entrar al módulo <i class="fa-solid fa-circle-arrow-right"></i></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Concepto: FSP</h5>
                    <p class="card-text">Entra en esta sección si necesitas gestionar el porcentaje de descuento por concepto de FSP en función del salario</p>
                </div>
                <div class="card-footer">
                    <a href="parametros/fsp" class="btn btn-info">Entrar al módulo <i class="fa-solid fa-circle-arrow-right"></i></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Concepto: ARL</h5>
                    <p class="card-text">Entra en esta sección si necesitas gestionar el porcentaje de descuento por concepto de ARL en función del riesgo</p>
                </div>
                <div class="card-footer">
                    <a href="parametros/arl" class="btn btn-info">Entrar al módulo <i class="fa-solid fa-circle-arrow-right"></i></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Concepto: SENA</h5>
                    <p class="card-text">Entra en esta sección si necesitas gestionar el porcentaje de descuento por concepto de SENA en función del salario</p>
                </div>
                <div class="card-footer">
                    <a href="parametros/sena" class="btn btn-info">Entrar al módulo <i class="fa-solid fa-circle-arrow-right"></i></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Concepto: ICBF</h5>
                    <p class="card-text">Entra en esta sección si necesitas gestionar el porcentaje de descuento por concepto de ICBF en función del salario</p>
                </div>
                <div class="card-footer">
                    <a href="parametros/icbf" class="btn btn-info">Entrar al módulo <i class="fa-solid fa-circle-arrow-right"></i></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Concepto: Caja</h5>
                    <p class="card-text">Entra en esta sección si necesitas gestionar el porcentaje de descuento por concepto de caja en función del salario</p>
                </div>
                <div class="card-footer">
                    <a href="parametros/caja" class="btn btn-info">Entrar al módulo <i class="fa-solid fa-circle-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}