{% extends 'base.html' %}
{% block section %}
    <div class="row pt-3 justify-content-md-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <p class="text-info">Bienvenido a la plataforma Sicard para la gestión de seguridad social.</p>
                </div>
                <div class="card-body">
                    Señor usuario, por favor seleccione la empresa con la cual va a interacturar durante su navegación en esta plataforma.
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

        <div class="row pt-3 justify-content-md-center">
        <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-12">
                    {% if empresas_permitidas %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <label for="">Seleccione la empresa</label>
                                <select name="empresa_plataforma" id="empresa_plataforma" class="form-control">
                                    {% for empresa in empresas_permitidas %}
                                    <option value="{{empresa.id_empresa_id}}">{{empresa.id_empresa}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 justify-content-md-center">
                        <div class="row pt-2 justify-content-md-center">
                            <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
                        </div>
                    </div>
                    </form>
                    {% endif %}
                    {% if not empresas_permitidas %}
                        <div class="alert alert-danger">
                            No hay empresas habilitadas para usted, por favor verifique con el administrador
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock section %}